:root {
  --text-color: #34373d;
  --light-grey-color: #f4f4f4;
  --light-blue: #9bd7ff;
  --dark-blue: #003160;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(109deg, var(--light-blue), var(--dark-blue));
  color: var(--light-grey-color);
}

.sidebar,
.main {
  padding: 10px;
}

.sidebar {
  width: 25%;
  color: var(--text-color);
  box-shadow: 3px -10px 6px 0px rgb(33 33 33 / 35%);
  background-color: var(--light-grey-color);
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  padding: 2px 0;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  color: var(--text-color);
  width: 100%;
  display: block;
  line-height: 1.4em;
}

.sidebar a:hover {
  background: white;
}

.sidebar a > svg {
  width: 20px;
  vertical-align: middle;
}

.file-list-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.main {
  padding: 10px;
  text-align: center;
}
