:root {
  --text-color: #34373d;
  --light-grey-color: #f4f4f4;
  --dark-grey-color: rgb(140, 140, 140);
  --light-blue: #9bd7ff;
  --dark-blue: #003160;
  --input-border-color: #d9d9d9;
  --highlight-color: rgb(220, 147, 31);
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(109deg, var(--light-blue), var(--dark-blue));
  color: var(--light-grey-color);
}

.sidebar {
  width: 35vw;
  min-width: 200px;
  color: var(--text-color);
  box-shadow: 3px -10px 6px 0px rgb(33 33 33 / 35%);
  background-color: var(--light-grey-color);
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul > li {
  white-space: nowrap;
  line-height: 1.4em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: flex;
}

.sidebar ul > li:hover {
  background: white;
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar svg {
  width: 24px;
  flex: 0 0 24px;
  vertical-align: middle;
}

.main {
  padding: 10px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

div.inline-input {
  flex: auto;
  display: flex;
}

div.inline-input > input {
  flex: auto;
}

input[type="text"] {
  border: 1px solid #d9d9d9;
  border-radius: 0.3em;
  padding: 5px;
}

input[type="text"]:active {
  border-color: var(--highlight-color);
}

.file-list-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.file-list-heading h2 {
  flex-grow: 1;
}

.directory-chooser {
  margin-left: 10px;
  flex-grow: 5;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;
}

.directory-chooser > div {
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  flex-flow: nowrap;
}

.directory-chooser div:first-child {
  font-size: 0.8em;
}

.directory-chooser div:nth-child(2) {
  min-width: 24px;
}

.directory-chooser a {
  color: var(--dark-grey-color);
}
.directory-chooser a > svg {
  color: var(--text-color);
}

.main canvas,
.react-pdf__Page {
  /*width: 100% !important;*/
  height: calc(100vh - 5rem) !important;
  width: auto !important;
}
